* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
  
}
body {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
    
}
.menu {
    width: 15%;
    background-color: rgba(21, 98, 165, 0.781);
    padding: 10px 20px 0px;
    
}

ul > li  {   
    color: white;
    padding: 10px;
}
li > a {
    color: white;
    text-decoration: none;
}

.header {
    background-color: white;     
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 60px;
    color: rgba(21, 98, 165, 0.781);
    padding-bottom: 0px;
   
}
header > p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(21, 98, 165, 0.781);

}
img {
    display: block;
    width: auto;
    height: 30vh;
    margin: auto;
     
} 

.content {
    background-color: whitesmoke;
    text-align: justify;
    text-indent: 20px;
    line-height: 30px;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color:rgb(21, 98, 165);
    color: white ;
    text-align: center;
   
}